.places{
	grid-area: places;
	
	padding: 92px 148px;
	margin: auto;
}

.place:first-child{
	padding-top: 0;
}

@media screen and (max-width: 1279px){
	.places{
		width: 928px;
		padding: 92px 48px;
		margin: 0;
	}
}

@media screen and (max-width: 1023px){
	.places{
		width: 720px;
		padding: 88px 0 90px;
		margin: 0 24px;
	}	
}

@media all and (max-width: 767px){
	.places{
		width: 320px;
		padding: 64px 0 66px;
		margin: 0;
	}
}