.footer__link{
	font-weight: normal;
	font-size: 16px;
	line-height: 112%;
	/* identical to box height, or 112% */
	text-decoration: none;
	color: #fff;
	grid-column: span 2;

	
	padding-right: 18px;
}

.footer__link:last-of-type{
	padding-right: 0;
}