/* шрифт */
@font-face {
	src: url('../../vendor/fonts/Inter-Regular.ttf');
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
}

@font-face {
	src: url('../../vendor/fonts/Inter-Black.ttf');
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
}


.page{
	max-width: 1280px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: minmax( 52px, auto) 1fr minmax( 18px, auto);
	grid-template-columns: 1fr;
	grid-template-areas: 
		"header"
		"main"
		"footer" ;
	
	background-color: #2A2C2F;
	color: #fff;
	justify-items: center;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;

	/* сглаживание */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* подгонка размера */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%; 
}

@media screen and (max-width: 1279px){
	.page{
		max-width: 1024px;
	}
}

@media all and (max-width: 1023px){
	.page{
		max-width: 768px;
	}
}

@media all and (max-width: 767px){
	.page{
		max-width: 320px;
	}
}




