.cover{
	grid-area: cover;

	max-width: 1184px;
	height: 740px;
	height: calc(1184px / 1.6);
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* margin: 0 48px; */
	margin: 0 auto;
}

@media screen and (max-width: 1279px){
	.cover{
		max-width: 1024px;
		height: calc(1024px / 1.6);
		/* margin: 0; */
	}
}

@media screen and (max-width: 1023px){
	.cover{
		max-width: 768px;
		height: calc(768px / 1.6);
		/* max-height: 480px; */
		/* margin: 0; */
	}
}

@media all and (max-width: 767px){
	.cover{
		max-width: 320px;
		height: calc(320px / 1.6);
		/* max-height: 200px; */
	}
}